<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ravenRabbitMQ" type="Raven.Message.RabbitMQ.Configuration.ClientConfiguration, Raven.Message.RabbitMQ" />
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="SystemId" value="JobTest"/>
    <add key="zkconn" value="127.0.0.1:4180,127.0.0.1:4181,127.0.0.1:4182"/>
    <add key="RedisConn" value="127.0.0.1"/>
    <add key="RedisDb" value="1"/>
  </appSettings>
  <ravenRabbitMQ logType="Mc.JobDispatherTest.RabbitTaskLog,Mc.JobDispatherTest" serializerType="NewtonsoftJson">
    <brokers>
      <broker name="JobCenter" uri="amqp://127.0.0.1">
        <queues>
          
        </queues>
        <exchanges>
          <exchange name="messagecenter_configupdate"></exchange>
        </exchanges>
      </broker>
    </brokers>
  </ravenRabbitMQ>
</configuration>